.bb-axis-x path,
.bb-axis-y path {
  stroke: #999999;
}

.bb-legend-item text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
}

.bb-tooltip-custom {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 16px;
}

.bb-tooltip-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 8px;
  color: #666666;
}

.bb-tooltip-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.bb-tooltip-marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.bb-xgrid-focus line {
  stroke: #999999;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}
