@use "helpers/colors";

.dp-chart-container {
  padding: 1.5rem;
  background-color: colors.$dp-color-white;
  border: 1px solid colors.$dp-color-onsite-gray-border;

  .dp-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .dp-chart {
    .bb-line {
      stroke-width: 2px;
    }

    .bb-axis-x text,
    .bb-axis-y text {
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      font-family: "proxima-nova", helvetica, arial, sans-serif;
      fill: colors.$dp-color-grey;
    }

    .bb-axis-x path,
    .bb-axis-y path {
      stroke: colors.$dp-color-lightgrey;
    }

    .bb-legend-item text {
      font-size: 16px;
      line-height: 18px;
      color: colors.$dp-color-grey;
      font-family: "proxima-nova", helvetica, arial, sans-serif;
    }

    .bb-tooltip-custom {
      background-color: colors.$dp-color-white;
      border: 1px solid colors.$dp-color-silver;
      border-radius: 3px;
      padding: 16px;
    }

    .bb-tooltip-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 8px;
      color: colors.$dp-color-grey;
    }

    .bb-tooltip-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    .bb-tooltip-marker {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    .bb-xgrid-focus line {
      stroke: colors.$dp-color-lightgrey;
      stroke-width: 2px;
      stroke-dasharray: 3, 3;
    }
  }
}
