////
/// DatePicker component
/// Styles to be applied for the react-datepicker library.
/// https://github.com/Hacker0x01/react-datepicker?tab=readme-ov-file#react-date-picker
/// @access private
/// @author Fernando Gonzalez
/// Classes for the button component
////

@use "helpers/colors";
@use "core/typography";
@use "core/variables" as var;

@mixin dp-datepicker-base {
  font-family: typography.$dp-fontfamily-awa;
  border: 1px solid colors.$dp-color-darkyellow;
  border-radius: 4px;

  .react-datepicker__month-wrapper {
    .react-datepicker__month-text {
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: #ffeea766;
      }
    }
  }

  .react-datepicker__navigation-icon {
    &::before {
      height: 0;
      width: 0;
      border-width: 7px 5.5px 0 5.5px;
      border-color: #838370 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      top: 8px;
      z-index: 10;
      pointer-events: none;
    }

    &--next::before {
      transform: rotate(-90deg);
    }

    &--previous::before {
      transform: rotate(90deg);
    }
  }
}

.dp-library {
  .dp-date-picker {
    @include dp-datepicker-base;
    position: absolute;
    z-index: 5;
    margin-top: 2px;
    box-shadow: 0 0 0 1px colors.$dp-color-darkyellow;
    font-size: 1rem;

    .react-datepicker__header {
      background-color: colors.$dp-color-white;
      border-bottom: none;

      h2 {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }

    .react-datepicker__day-names {
      margin: 0 5px;

      .react-datepicker__day-name {
        width: 3.4rem;
        padding: 0.5rem;
        margin: 0;
      }
    }

    .react-datepicker__today-button {
      background-color: colors.$dp-color-white;
      margin: 0 20px;
      border-top: 1px solid colors.$dp-color-darkyellow;
    }

    .react-datepicker__day {
      color: colors.$dp-color-grey;
      margin: 0;
      padding: 0.5rem;
      width: 3.4rem;
      border-radius: 0;

      &--outside-month {
        visibility: hidden;
      }

      &:not([aria-disabled="true"]):hover {
        background-color: colors.$dp-color-white;
        outline: 1px solid colors.$dp-color-yellow;
        border-radius: 0;
      }

      &--selecting-range-start {
        background-color: colors.$dp-color-yellow !important;
      }

      &--in-selecting-range {
        &:not(
          .react-datepicker__day--in-range,
          .react-datepicker__month-text--in-range,
          .react-datepicker__quarter-text--in-range,
          .react-datepicker__year-text--in-range
        ) {
          background-color: #ffeea766;

          &:not([aria-disabled="true"]):hover {
            background-color: colors.$dp-color-white;
            border: 1px solid colors.$dp-color-yellow;
          }
        }

        &:not([aria-disabled="true"]):hover {
          background-color: colors.$dp-color-yellow;
        }

        &--selected,
        &--in-selecting-range {
          color: colors.$dp-color-grey;
        }
      }

      &--keyboard-selected {
        background-color: #ffeea766;

        &:not([aria-disabled="true"]):hover {
          background-color: colors.$dp-color-yellow;
        }
      }

      &--selected,
      &--in-range {
        background-color: #fbb224;

        &:not([aria-disabled="true"]):hover {
          background-color: #ffeea766;
        }
      }
    }

    .react-datepicker__month-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .react-datepicker__month-text {
      width: 30%;
      text-align: center;
      margin: 0.25rem 0;
      padding: 0.5rem;

      &--selected {
        background-color: #fbb224;
        color: colors.$dp-color-grey;
      }
    }
  }

  .dp-date-picker-month {
    @include dp-datepicker-base;
    width: 353px !important;

    .react-datepicker__navigation-icon {
      font-size: inherit !important;
    }

    .react-datepicker__month-container {
      float: none !important;

      .react-datepicker__header.react-datepicker-year-header {
        background-color: colors.$dp-color-white;
        font-size: 20px;
        font-weight: 700;
        color: colors.$dp-color-darkyellow;
        text-align: center;
      }
    }

    .react-datepicker__month-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem;
      justify-items: center;
      align-items: center;
    }

    .react-datepicker__month-text {
      font-size: 14px;
      font-weight: 400;
      width: auto !important;
      padding: 0.5rem 0.8rem;
      text-align: center;

      &--selected,
      &--keyboard-selected {
        font-size: 15px;
        font-weight: 500;
        color: colors.$dp-color-darkyellow;
        border: 1px solid colors.$dp-color-darkyellow;
        background-color: colors.$dp-color-white;
      }
    }
  }

  .full-width-datepicker {
    width: 100% !important;
  }

  .full-width-datepicker .react-datepicker__input-container input {
    border: 1px solid colors.$dp-color-border-input;
    background-color: colors.$dp-color-white;
    color: colors.$dp-color-text-input;
    padding: var.$dp-spaces--lv2 var.$dp-spaces--lv1;
    font-size: typography.$dp-fontsize-base;
    line-height: 24px;
    box-shadow: 0 0 0 2px colors.$dp-color-white;

    width: 100%;
    border-radius: 2px;
  }

  .full-width-datepicker .react-datepicker__input-container input::placeholder {
    color: colors.$dp-color-text-input;
    font-style: normal;
  }

  .full-width-datepicker .react-datepicker__input-container input:hover {
    border-color: colors.$dp-color-border-input;
  }

  .full-width-datepicker .react-datepicker__input-container input:focus {
    outline: none;
    border-color: colors.$dp-color-border-input;
    box-shadow: 0 0 0 2px colors.$dp-color-white;
  }

  .react-datepicker__triangle {
    display: none;
  }
}
