@use "helpers/colors";
@use "core/settings";

.dp-widget-card,
.dp-widget-info-card {
  border: 1px solid colors.$dp-color-onsite-gray-border;
  border-radius: 5px;
  display: flex;
  padding: 24px;
  background-color: colors.$dp-color-white;
  position: relative;
  width: 100%;
}

.dp-widget-card {
  height: 140px;
  align-items: flex-start;
  transition: box-shadow 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 4px rgba(105, 105, 105, 0.15);
  }

  &:hover .dp-widget-card-hover-message {
    display: block;
    opacity: 1;
  }

  &-icon {
    border-radius: 3px;
    padding: 6px;
    margin-right: 12px;

    .dpicon {
      font-size: 28px;
      color: colors.$dp-color-white;
      border-radius: 3px;
    }

    .iconapp-wheel-of-fortune {
      display: block;
      width: 29px;
      height: 28px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
  }

  &-text {
    padding-right: 30px;
  }

  &-action {
    align-self: flex-end;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  &-hover-message {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 18px 18px;
    color: colors.$dp-color-white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
    border-radius: 5px;
  }

  &-hover-message h3,
  &-hover-message p {
    color: colors.$dp-color-white;
  }

  &-hover-message a {
    text-transform: uppercase;
    color: colors.$dp-color-white;
    text-decoration-line: underline;
  }

  &-hover-message a:hover {
    color: colors.$dp-color-white;
  }
}

.dp-widget-info-card {
  height: 194px;
  flex-direction: column;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);

  &-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid colors.$dp-color-onsite-gray-border;

    &-title-container {
      flex: 1;
      min-width: 0;
      padding-right: 12px;
    }

    &-subtitle-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 18px;
    }

    &-subtitle {
      font-size: 14px;
    }

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dp-tooltip-top {
      span {
        max-width: 360px;
        overflow-wrap: anywhere;
      }
    }

    &-status {
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-top: 1px;
    }

    &-status-row {
      display: inline-flex;
      align-items: center;
      gap: 4px;
    }

    &-status-value {
      font-weight: settings.$dp-font-weight-semibold;
    }
  }

  &-data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;

    .dp-stat-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:not(:last-child) {
        border-right: 1px solid colors.$dp-color-onsite-gray-border;
      }

      .dp-stat-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dp-stat-text-label {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .dp-stat-text-value {
          font-size: 22px;
          color: colors.$dp-color-grey;
          font-weight: bold;
          line-height: 24px;
        }
      }
    }
  }
}

.dp-widget-plan-progress {
  width: 100%;

  .dp-progress-bar {
    width: 100%;
    height: 7px;
    background-color: colors.$dp-color-cement;
    border-radius: 10px;
    overflow: hidden;

    .progress {
      height: 100%;
      width: 25%;
      background-color: colors.$dp-color-green;
      transition:
        width 0.5s ease-in-out,
        background-color 0.5s ease-in-out;
    }

    .progress.exceeded {
      width: 100%;
      background-color: colors.$dp-color-orange-carousel;
    }

    .progress.ended {
      width: 100%;
      background-color: colors.$dp-color-red;
    }
  }

  .plan-info {
    display: flex;
    justify-content: space-between;

    .text-green {
      color: colors.$dp-color-darkgreen;
    }

    .text-orange {
      color: colors.$dp-color-orange-carousel;
    }

    .text-red {
      color: colors.$dp-color-red;
    }
  }
}
